.blogs {
  .img-section {
    .row {
      img {
        border: 10px solid;
        border-image-slice: 1;
        border-width: 3px;
        border-image-source: linear-gradient(to left, #8cc63f, #f2782a);
        width: 100%;
      }
      h3 {
        font-weight: 400;
        text-align: center;
        margin-top: 28px;
      }
      button {
        padding: 8px 28px;
        background: #adacac;
        border-radius: 18px;
        margin-top: 18px;
      }
      button:hover {
        padding: 8px 28px;
        background: #adacac;
        border-radius: 18px;
        border: 1px solid #adacac;
        background: transparent;
        transform: scale(1.05);
        transition: 0.5s;
        margin-top: 18px;
      }
    }
  }
}
