.info-text {
  background-image: url("../../images/backgrounds/hexagon.png");
  background-repeat: no-repeat;
  background-position-x: -1px;
  background-size: cover;
  background-position-y: -191px;
  h1 {
    position: relative;
    line-height: 55px;
    text-align: left;
    top: 8rem;
    margin-left: 5%;
    font-family: helvetica;
    color: #adacac;
  }
}
