.info-text {
  background-image: url("../../images/backgrounds/hexagon.png");
  background-repeat: no-repeat;
  background-position-x: -1px;
  background-size: cover;
  background-position-y: -191px;
}
