.service {
  border-bottom: 35px solid #8cc63f;

  h1 {
    font-weight: 350;
    font-size: 6rem;
    margin-left: 5%;
    color: #f2782a;
    top: 10rem;
  }
  p {
    text-decoration: underline 2px;
    color: #adacac;
    font-size: 2.8rem;
    position: relative;
    margin-left: 5%;
    top: 14rem;
    font-weight: 350;
    margin-right: 30%;
  }

  .website {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 10px;

    span {
      display: inline-block;
      padding-bottom: 4px;
      position: relative;
      margin-bottom: 10px;
    }
    span:after {
      position: absolute;
      content: "";
      bottom: -12px;
      left: 0px;
      height: 3px;
      width: 0%;
      background-color: #f2782a;
      animation: underline 2s 0.5s forwards;
    }
  }

  .website:after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0px;
    height: 3px;
    width: 0%;
    background-color: #f2782a;
    animation: underline3 2s 0.5s forwards;
  }
  .social_media {
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 10px;

    span {
      display: inline-block;
      padding-bottom: 4px;
      position: relative;
      margin-bottom: 10px;
    }
    span:after {
      position: absolute;
      content: "";
      bottom: -12px;
      left: 0px;
      height: 3px;
      width: 0%;
      background-color: #f2782a;
      animation: underline 2s 0.5s forwards;
    }
  }
  .social_media:after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0px;
    height: 3px;
    width: 0%;
    background-color: #f2782a;
    animation: underline2 2s 0.5s forwards;
  }
  .designing {
    position: relative;
    font-weight: 350;
    font-size: 6rem;
    margin-left: 5%;
    color: #f2782a;
    top: 10rem;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 10px;
  }
  .designing:after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0px;
    height: 3px;
    width: 0%;
    background-color: #f2782a;
    animation: underline 2s 0.5s forwards;
  }
}

@keyframes underline {
  to {
    width: 100%;
  }
}

@keyframes underline2 {
  to {
    width: 80%;
  }
}

@keyframes underline3 {
  to {
    width: 100%;
  }
}
