.home {
  position: relative;
  .banner {
    background-color: #1c1c1c;

    .btn-learn-more {
      float: left;
      margin-top: 7%;
      background-color: #1c1c1c;
      color: black;

      font-weight: 400;
      display: inline-flex;
      border-radius: 8rem;
      border: 1px solid hsla(0, 0%, 100%, 0.1);
      font-size: 1.4rem;
      padding: 22px 50px;
      -webkit-transition: all 0.25s;
      transition: all 0.5s;
      outline: none !important;
      background-color: #adacac;
    }

    .btn-learn-more:hover {
      outline: none !important;
      border: 1px solid rgba(21, 21, 21, 0.1);
      color: black;
      background-color: #f2782a;
      border: 1px solid hsla(0, 0%, 100%, 0.2);
    }

    .down-button {
      top: 13rem;
      float: right;
      position: relative;
      height: fit-content !important;
      color: #adacac;
      border-color: #adacac;
      background-color: transparent;
      border-radius: 48px;
      padding: 25px 30px;
      width: fit-content !important;
      border: 1px solid #adacac;
      cursor: pointer;
      margin-right: 3%;
    }
    .down-button:hover {
      background-color: white;
      transform: scale(1.1);
      transition: all 0.8s;
      color: black;
    }
  }

  .our-work {
    h1 {
      color: #adacac;
      margin-top: 112px;
      margin-bottom: 50px;
      margin-left: 7%;
      position: relative;
      font-size: 3.5rem;
      font-weight: 350;
      text-decoration: underline 3px;
      text-decoration-color: #8cc63f;
    }
  }

  .footer {
    margin-top: 15%;

    ul {
      margin-top: 3%;
      li {
        cursor: pointer;

        font-size: 165%;
        font-weight: 500;
        text-decoration: underline;
      }
      li:hover {
        text-decoration: underline #96cb4f;
        color: #f27a2e;
      }
    }
  }
  .f-part-2 {
    .address {
      margin-top: 3%;
      h4 {
        color: #f27a2e;
      }
      h6 {
        color: #adacac;
      }
    }
    .social-media-icons {
      svg {
        color: #ffffff;
        font-size: 42px;
        background: #adacac;
        padding: 7px;
        border-radius: 8px;
      }
    }
  }
}
