.contact-icons {
  background-image: url("../../images/backgrounds/hexagon.png");
  background-size: cover;
  background-position-y: 43%;
  position: relative;
  height: 60rem;
  text-align: center;
  div {
    top: 6rem;
    position: relative;
    img {
      width: 25%;
    }
    h1 {
      text-align: center;
      font-weight: 350;
    }
    h5 {
      text-align: center;
      color: #adacac;
    }
    .span {
      position: relative;
      top: 20px;
    }
  }
}

@media (max-width: 767px) {
  .contact-icons div {
    top: 2rem !important;
  }
  .contact-icons {
    height: 85rem !important;
  }
}
