.who-are-page {
  position: relative !important;

  .down-button {
    margin-top: 8% !important;
  }

  .working-enviornment {
    background-image: url("../../images/backgrounds/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .gallery_3 {
      width: 70%;
      height: 85%;
      top: 2%;
      position: relative;
      margin-left: 45px;
    }
    p {
      font-size: 2.8rem;
      font-weight: 300;
      line-height: 160%;
      margin-left: 60px;
      color: #adacac;
      text-decoration: underline 2px;
    }
    h1 {
      margin-left: 5%;
      line-height: 105%;
      font-size: 6rem;
      top: 6rem;
      font-weight: 350;
      color: #adacac;
      position: relative;
      span {
        color: #f2782a;
        display: inline-block;
        position: relative;
        padding-bottom: 4px;
        margin-bottom: 10px;
      }
      span:after {
        position: absolute;
        content: "";
        bottom: -10px;
        left: 0px;
        height: 2px;
        width: 0%;
        background-color: #f2782a;
        animation: underline 2s 0.5s forwards;
      }
    }
  }
}
