.footer {
  margin-top: 15%;
  background-image: url("../../images/backgrounds/hexagon.png");
  background-repeat: no-repeat;
  background-position-x: -50px;
  background-size: cover;
  background-position-y: -240px;
  ul {
    margin-top: 3%;
    li {
      cursor: pointer;

      font-size: 165%;
      font-weight: 500;
      text-decoration: underline;
    }
    li:hover {
      text-decoration: underline #96cb4f;
      color: #f27a2e;
    }
  }

  .f-part-2 {
    .address {
      margin-top: 3%;
      h4 {
        color: #f27a2e;
      }
      h6 {
        color: #adacac;
      }
    }
    .social-media-icons {
      display: flex;
      margin-top: 26%;
      margin-left: -26px;
      svg {
        cursor: pointer;
        margin: 12px;
        color: #ffffff;
        font-size: 42px;
        background: #808080;
        padding: 7px;
        border-radius: 8px;
      }
      svg:hover {
        transform: scale(1.25);
        transition: 0.5s;
      }
    }
  }
}
