@media (min-width: 1200px) {
}

@media (min-width: 991px) and (max-width: 1199px) {
}

@media (min-width: 767px) and (max-width: 992px) {
  .contact-form .input-forms .input-2 {
    margin-top: 6% !important;
  }

  .header .navbar-menus li {
    padding: 0 12px !important;
  }

  .btn-learn-more-2 {
    margin-left: 5%;
    margin-top: 22%;
  }
  .contact-form {
    .input-forms {
      input {
        margin: 20px !important;
        height: 56px !important;
        width: 320px !important;
      }
    }
    textarea {
      margin-top: 30% !important;
    }
  }
  .service h1 {
    font-size: 7rem !important;
  }
  .headings {
    .page-3 {
      font-size: 4rem;
      margin-left: 0%;
      margin-top: 0px;
    }
    .page-2 {
      top: -30px;
      margin-left: 40px;
    }
  }
  .who-are-we {
    h1 {
      font-size: 8rem;
    }
    h2 {
      margin-top: 145px;
      font-size: 2.5rem;
      margin-left: 80px;
    }

    img {
      width: 38%;
      top: 103px;
    }
  }
  .big_heading {
    h1 {
      font-size: 6rem !important;
    }
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .contact-form textarea {
    left: 50px;
    margin-top: 20% !important;
  }
  .contact-form .input-forms .input-3 h5 {
    left: -12% !important;
  }
  .who-are-page .working-enviornment p {
    font-size: 1.5rem !important;
    font-weight: 300 !important;
    line-height: 160% !important;
    margin-left: 10px !important;
    color: #adacac !important;
    text-decoration: underline 1px !important;
  }
  .who-are-page .working-enviornment .gallery_3 {
    width: 90% !important;
    height: 86% !important;
    top: 5% !important;
    position: relative !important;
    margin-left: 20px !important;
  }
  .contact-form {
    .second-one {
      left: 10px !important;
    }
    textarea {
      margin-left: -100px !important;
      margin-top: 37% !important;
    }
    .input-forms {
      label {
        position: absolute;
        left: 50px;
        top: 120px;
      }
      .email {
        position: absolute;
        left: 50px !important;
        top: 120px !important;
      }
      input {
        margin: 35px 115px !important;
        height: 56px !important;
      }
    }
  }
  .our-services {
    h1 {
      font-size: 9rem !important;
    }
    span {
      font-size: 8rem !important;
    }
    p {
      margin-right: 0% !important;
      font-size: 2.5rem !important;
      line-height: 165% !important;
    }
  }
  .service {
    h1 {
      font-size: 5rem !important;
      top: 8rem !important;
    }
    p {
      font-size: 3rem !important;
      margin-left: 0;
      top: 14rem;
      font-weight: 350;
      margin-right: 0;
    }
  }

  .started-from-scratch p {
    margin-bottom: 12% !important;
    margin-left: 5% !important;
    top: 15px !important;
    line-height: 80px !important;
    font-size: 2rem !important;
  }
  .who-are-page .working-enviornment h1 {
    font-size: 5rem !important;
  }

  .headings {
    .page-3 {
      font-weight: 700;
      margin-left: 5%;
      margin-top: 0px;
      color: white;
    }
    h1 {
      font-size: 4rem;
    }
    .page-2 {
      font-size: 5rem;
      top: -10px;
      margin-left: 40px;
    }
  }
  .big_heading {
    h1 {
      font-size: 5rem !important;
    }
    h3 {
      right: 24px;
      font-size: 174%;
    }
  }
  .animation-slide {
    display: none;
  }
}

@media (max-width: 576px) {
  .animation-slide {
    display: none;
  }

  .down-button {
    margin-right: 10%;
  }
  .contact-form {
    .second-one {
      left: -84px !important;
      font-size: 20px !important;
      bottom: -130px !important;
    }
    .submit-btn {
      margin-top: 22% !important;
    }
    .input-forms {
      input {
        margin: 38px !important;
        position: relative !important;
        width: 290px !important;
      }
      label {
        left: 12px;
        margin: 0px 33px;
        position: absolute;
        top: -40px !important;
        font-size: 20px !important;
      }
      .email {
        left: 12px !important;
        font-size: 20px !important;
        top: 85px !important;
      }
    }
    textarea {
      margin-top: 20% !important;
      height: 130px !important;
      width: 301px !important;
      padding: 10px !important;
    }
  }

  .headings .page-4 {
    font-size: 3rem !important;
  }
  .contact-form h1 {
    font-size: 3rem !important;
  }
  .service {
    h1 {
      font-size: 4rem !important;
      margin-left: 5% !important;
      color: #f2782a !important;
      top: 5rem !important;
    }
    .designing {
      font-size: 4rem !important;
      margin-left: 2% !important;
      top: 3rem !important;
    }
    p {
      text-align: center !important;
      line-height: 60px !important;
      font-size: 2rem !important;
      margin-left: 0 !important;
      top: 10rem !important;
      margin-right: 0 !important;
    }
  }

  .our-services {
    .read-more {
      top: 6rem !important;
      margin-left: 19% !important;
    }
    p {
      margin-right: 0% !important;
      text-align: center !important;
      font-size: 2rem !important;
      top: 3rem !important;
      margin-left: 0% !important;
      line-height: 160% !important;
    }
  }

  .info-text {
    h1 {
      line-height: 48px !important;
      text-align: center !important;
      margin-top: 20% !important;
    }
  }

  .who-are-page {
    .working-enviornment {
      p {
        font-size: 2rem !important;
        margin-left: 20px !important;
      }
      .gallery_3 {
        width: 90% !important;
        height: 100% !important;
        margin-left: 19px !important;
      }
    }
  }

  .started-from-scratch {
    h1 {
      .started {
        font-size: 5rem !important;
        top: 70px !important;
      }

      .from-the {
        font-size: 5rem !important;
      }
      .scratch {
        font-size: 5rem !important;
        top: 20px !important;
      }
    }
    p {
      margin-bottom: 20% !important;
      margin-top: 26px !important;
      margin-left: 5% !important;
      top: 20px !important;
      line-height: 60px !important;
      text-align: center !important;
      font-size: 2rem !important;
    }
  }
  .who-are-page .working-enviornment h1 {
    font-size: 3.5rem !important;
  }
  .blogs {
    left: 55px;

    .img-section {
      left: 55px !important;
      position: relative;
    }
    .big_heading {
      img {
        height: 9px !important;
        left: 5% !important;
        width: 36% !important;
        position: relative !important;
        top: -10px !important;
      }
    }
  }

  .footer {
    .f-part-1 {
      img {
        margin-left: 40px !important;
      }
      ul {
        margin-left: 16%;
        margin-top: 30px;
        text-align: left;

        li {
          font-weight: 400 !important;
        }
      }
    }
    .f-part-2 {
      .address {
        text-align: center;
        margin-top: 55px;
      }
      .social-media-icons {
        text-align: center;
      }
    }
  }

  .trusted-by {
    .big_heading {
      img {
        margin-top: -35px !important;
        width: 70% !important;
        left: 6% !important;
        position: relative !important;
      }
    }

    .logos {
      li {
        margin: 8% 3%;
        img {
          width: 70%;
          margin-left: 30px;
        }
      }
    }
  }

  .big_heading {
    h1 {
      font-size: 4rem !important;
    }
    h3 {
      right: 60px;
      font-size: 110%;
      top: -12px;
    }
  }
  .our-services h1 {
    font-size: 5rem !important;
    margin-left: 5%;
    line-height: 70px !important;
    position: relative;
    top: 0 !important;
    color: #adacac;
    span {
      font-weight: 350;
      color: #f2782a;
      font-size: 4.5rem !important;
      display: inline-block;
    }
  }

  .btn-learn-more-2 {
    margin-left: 18% !important;
    margin-top: 50% !important;

    padding: 18px 43px !important;
    margin-left: 40px;
  }
  .headings {
    .page-3 {
      font-weight: 700;
      margin-left: 8%;
      margin-top: 0px;
      color: white;
      font-size: 2.5rem;
    }
    .page-2 {
      font-size: 3rem;
      top: -15px;
      margin-left: 40px;
    }
    h1 {
      margin-left: 15px;
      font-size: 3rem;
    }
  }
  .who-are-we {
    h1 {
      font-size: 5rem;
      margin-left: 4%;
      font-weight: 600;
    }
    h2 {
      line-height: 48px;
      margin-top: 148px;
      font-size: 2rem;
      text-align: center;
      margin-left: 0px;
    }
    img {
      width: 50%;
      margin-left: 18%;
      top: 100px;
    }
  }
  .home {
    .btn-learn-more-2 {
      margin-left: 65px !important;
      margin-top: 50% !important;
    }
    .container {
      h1 {
        text-align: center !important;
      }
    }
    .banner {
      .btn-learn-more {
        margin-left: 35px;
        margin-top: 12%;
        font-weight: 300;
        font-size: 1.2rem;
        padding: 12px 22px;
      }
    }
  }

  .header .navbar-menus li {
    padding: 0 10px;
    font-size: 105%;
  }
  .home .banner .down-button {
    top: 10rem;
    margin-right: 12%;
    padding: 20px 24px;
    margin-right: 6%;
  }
}
