@media (min-width: 991px) and (max-width: 1200px) {
}

@media (min-width: 767px) and (max-width: 992px) {
}

@media (min-width: 575px) and (max-width: 768px) {
}

@media (max-width: 576px) {
  .headings {
    h1 {
      margin-left: 15px;
      font-size: 3rem;
    }
  }

  .home .banner .btn-learn-more {
    margin-left: 35px;
    margin-top: 12%;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 12px 22px;
  }

  .header .navbar-menus li {
    padding: 0 10px;
    font-size: 105%;
  }
  .home .banner .down-button {
    top: 10rem;
    margin-right: 12%;
  }
}
