.headings {
  margin-left: 6%;
  margin-top: 10%;

  h1 {
    overflow: hidden !important;
    .something-1 {
      display: block;

      animation: reveal2 2s cubic-bezier(0.77, 0, 0.175, 1);
    }
    @keyframes reveal2 {
      0% {
        transform: translate(0, 100%);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    color: #adacac;
    font-weight: 700;
    .creative {
      color: #8cc63f;
      display: inline-block;
      position: relative;
      padding-bottom: 4px;
      margin-bottom: 10px;
    }
    .creative:after {
      position: absolute;
      content: "";
      bottom: -2px;
      left: 0px;
      height: 2px;
      width: 0%;
      background-color: #8cc63f;
      animation: underline 1s 2s forwards;
    }

    .outstanding {
      color: white;
    }

    .compaigns {
      color: #f2782a;
    }
    @keyframes underline {
      to {
        width: 100%;
      }
    }
  }

  .page-2 {
    position: relative;
    font-size: 6rem;
    top: -25px;
    margin-left: 85px;
    color: white;
    line-height: 115%;
    overflow: hidden;
    .something-2 {
      display: block;
      // animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
      .success {
        color: #8cc63f !important;
        display: inline-block !important;
        position: relative !important;
        padding-bottom: 4px !important;
        margin-bottom: 10px !important;
      }
      .success:after {
        position: absolute !important;
        content: "" !important;
        bottom: -18px !important;
        left: 0px !important;
        height: 2px !important;
        width: 0% !important;
        background-color: #f2782a !important;
        animation: underline 1s 2s !important;
      }

      @keyframes underline {
        to {
          width: 100% !important;
        }
      }
    }
  }
  @keyframes reveal {
    0% {
      transform: translate(0, 100%);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .page-3 {
    font-weight: 700;
    margin-left: 15%;
    margin-top: -30px;
    color: white;
    span {
      color: #f2782a;
      display: inline-block;
      position: relative;
      padding-bottom: 4px;
      margin-bottom: 10px;
    }
    span:after {
      position: absolute;
      content: "";
      bottom: 8px;
      left: 0px;
      height: 3px;
      width: 0%;
      background-color: #f2782a;
      animation: underline 1s 2s forwards;
    }
  }

  .page-4 {
    color: white;
    font-size: 7rem;
    text-align: center;
    font-weight: 700;
    margin-top: 250px;
    span {
      color: #f2782a;
      display: inline-block;
      position: relative;
      padding-bottom: 4px;
      margin-bottom: 10px;
    }
    span:after {
      position: absolute;
      content: "";
      bottom: 8px;
      left: 0px;
      height: 3px;
      width: 0%;
      background-color: #f2782a;
      animation: underline 1s 2s forwards;
    }
  }

  h1 {
    font-size: 6rem;
  }

  .first-one {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .we-build {
      color: #adacac;
      margin-right: 22px;
    }

    .creative {
      color: #8cc63f;
      display: inline-block;
      position: relative;
      padding-bottom: 4px;
      margin-bottom: 10px;
    }

    .creative:after {
      position: absolute;
      content: "";
      bottom: -2px;
      left: 0px;
      height: 2px;
      width: 0%;
      background-color: #8cc63f;
      animation: underline 1s 2s forwards;
    }
  }

  .second-one {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .outstanding {
      margin-right: 22px;
      display: inline-block;
      position: relative;
      padding-bottom: 4px;
      margin-bottom: 10px;
      color: #f2782a;
    }

    .outstanding:after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0px;
      height: 2px;
      width: 0%;
      background-color: #f2782a;
      animation: underline 1s 2s forwards;
    }
    .compaigns {
      color: #fcfffc;
      display: inline-block;
      position: relative;
      padding-bottom: 4px;
      margin-bottom: 10px;
    }
    .compaigns:after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 0px;
      height: 2px;
      width: 0%;
      background-color: #adacac;
      animation: underline 1s 2s forwards;
    }
  }
}

.page-2 {
  animation: check 1.2s ease-out forwards 1s;
}
.headings {
  h1 {
    animation: check 1s ease-out forwards 0.12s;
  }
}
@keyframes check {
  0% {
    transform: translate(200%);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes underline {
  to {
    width: 100%;
  }
}
