.who-are-we {
  background-image: url("../../images/backgrounds/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 8% !important;

  h1 {
    top: 7rem;
    position: relative;
    font-size: 13rem;
    margin-left: 8%;
    color: #adacac;
    font-weight: 700;
  }
  h2 {
    line-height: 73px;
    margin-top: 175px;
    font-size: 3.5rem;
    text-align: left;
    margin-left: 151px;
    color: #adacac;
    font-weight: 100 !important;
  }

  img {
    position: relative;
    left: 5%;
    width: 28%;
    top: 90px;
  }
}
